.message{
    /* height: 100%;
    width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    color: rgb(255, 0, 191);
    /* opacity: 1; */
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

img{
    height: 8rem;
    width: 8rem;
}

button{
    height: 3rem;
    width: 6rem;
    border-radius: 20%;
    background-color: aquamarine;
    color: rgb(4, 63, 211);
    margin: 3rem;
    font-size: large;
    cursor: pointer;
}

.yesButton{
    background-color: rgba(255, 0, 0, 0.832);
}

.noButton{
    background-color: aliceblue;
}